@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-black text-neutral-300;
  }
  
  .home-page {
    @apply bg-gray-600 text-white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .tipper-page {
    @apply bg-fuchsia-300 text-black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .pricing-page {
    @apply bg-blue-500 text-neutral-300;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .about-page {
    @apply bg-purple-500 text-neutral-300;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .explore-page {
    @apply bg-yellow-300 text-neutral-300;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: none;
  }
  
  .reports-page {
    @apply bg-green-500 text-neutral-300;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: none;
}

/* Add this to your styles.css or styles file */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* ====================================== */
